<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Bio</th>
      <th>Buy</th>
      <th>Display</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @girls.each do |girl| %>
      <tr>
        <td><h1><%= girl.name %></h1></td>
        <td><%= girl.age %></td>
        <td><%= girl.bio %></td>
        <td><%= link_to "Procure A New Book",
            new_book_url(:id => girl.id),
            :class => 'btn btn-mini btn-success',:id => 'addnew' %></td>
        <td>
          <% if Book.where(:girl_id => girl.id).count == 0 -%>
            <h2>No books, please procure</h2>
          <% else -%>
            <%= link_to "Show Procured Books",
                        books_path(:girl_id=>girl.id), :class => 'btn btn-mini btn-success' , :id => 'submitco' %>
          <% end -%>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_girl_path(girl), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      girl_path(girl),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @girls %>
