<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic|Roboto:400,100,300|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container-fluid main-container">
  <div class="row-content">
  <div class="row-fluid">
    <div class="span12">
      <% if user_signed_in? %>
        <%= render "/layouts/shared/appheader" -%>
        <%= bootstrap_flash %>
        <%= yield %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </div><!--/row-->
</div> <!-- /container -->
</div>
</body>
</html>
